* {margin: 0; padding: 0;}

html, body{
/*    background-image: url(image/0MultiView_4096.jpg); */
    background-repeat: no-repeat;
    background-color: black; 
    overflow: hidden;

/*    background-size: cover; 
    background-size: 4096px 2160px; */
}

@font-face { 
	font-family: "SST-Condensed.otf"; 
	src: url("fonts/SST-Condensed.otf"); 
}

@font-face { 
        font-family: "SST-Light.ttf";
        src: url("fonts/SST-Light.ttf");
}
    
@font-face { 
        font-family: "SST-Heavy.ttf";
        src: url("fonts/SST-Heavy.ttf");
}

#quad_divider{
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(image/FrameDivider_wLogo_QuadView.png);
    z-index: 500;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#logo{
    position: absolute;
    left: 1774px;
    top: 995px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(image/ninerslogo.png);
    z-index: 500;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

video{
    position: absolute;
   
/*    opacity: 1; */
}

.vid_tiles{
    position: absolute;
    width:  1920px;
    height: 1080px;
    background-color: black;
}

.vid_tiles.full_screen{
    position: absolute;
    left:    0px;
    top:     0px;
    width:   3840px;
    height:  2163px;
    z-index: 1000;
/*    transition: all 0.5s ease; */
}


.vid_tiles.vid0{
    left:   0px; 
    top:    0px;
}

.vid_tiles.vid1{
    left:   1921px;
    top:    0px;
}

.vid_tiles.vid2{
    left:   0px; 
    top:    1081px;
}

.vid_tiles.vid3{
    left:   1921px;
    top:    1081px;
}

.vid_tiles.vid4{
    left:   0px; 
    top:    0px; 
    width:  3840px; 
    height: 2160px;
    z-index: 10000;
}

.vid_tiles.vid7{
    left:   0px; 
    top:    0px; 
    width:  3840px; 
    height: 2160px;
    z-index: -1;
}

#div_vid_tile_id_0{
  width: 100%;
  z-index:0;
  opacity: 1;
}

#div_vid_tile_id_1{
  width: 100%;
  z-index:0;
  opacity: 1;
}

#div_vid_tile_id_2{
  width: 100%;
  z-index:0;
  opacity: 1;
}

#div_vid_tile_id_3{
  width: 100%;
  z-index:0;
  opacity: 1;
}

#div_vid_tile_id_4{
  width: 100%;
  z-index:0;
  opacity: 1;
}

#div_vid_tile_id_7{
  width: 100%;
  z-index:0;
  opacity: 1;
}

/*
#menu_items {position: absolute; left: 197px; top: 1000px; background-color: black; height: 500px}
#menu_items ul { position: absolute; text-align: left; }
#menu_items li { font-family: "SST-Light.ttf"; display: inline; margin-left: 0px; text-decoration: none; padding: 5px 13px 0px 3px; color: gray; font-weight: 100; font-size: 270%; background-color: black;}
*/

/*
#menu_items {position: absolute; left: 197px; top: 1000px; margin: 0 0 0 0; height: 100px; width: 500px; }
#menu_items ul { position: absolute; text-align: left; margin: 24.2% 0 0 0; width: 100px; }
#menu_items li { font-family: "SST-Light.ttf"; display: inline; margin-left: 10px; width: 100px; text-decoration: none; padding: 5px 13px 0px 3px; color: gray; font-weight: 100; font-size: 270%; background-color: black;}

#menu_items {position: relative; margin: 0 0 0 0; }
#menu_items ul { position: absolute; text-align: left; margin: 24.2% 0 0 0;}
#menu_items li { font-family: "SST-Light.ttf"; display: inline; margin-left: 10px; text-decoration: none; padding: 5px 13px 0px 3px; color: gray; font-weight: 100; font-size: 270%; background-color: black;}

*/

#menu_items{
    position: absolute;
    left: 180px; top: 1220px;
}

#menu_items ul { width: 3000px; text-align: left;}

#menu_items li{
    font-family: "SST-Light.ttf";
    display: inline;
    margin-left: 10px; text-decoration: none; padding: 5px 37px 0px 3px;
    background-color: black; font-size: 475%; color: #c0c0c0;
    font-weight: 600;  
}


#img_tile{
  position: absolute;
  left: 715px;
  top: 1323px;
  height: 550px;
  overflow-x: scroll;
  background-size:cover; 
  background-repeat:no-repeat; 
}

#img0{
  width: 523px;
}

#div_tiles { 
    position: absolute;
    top: 1321px; left: 163px; right: 0px; bottom: 0px; 
    height: 1500px; overflow-x: scroll; width: 3933px; /*4096-163*/
}

.div_tile { 
    position: absolute;
}

#div_webview {
    background-color: red;
/*    width: 3840px;
    height: 2360px;
    z-index: 10000; */
/*    position: absolute;
    left:   0px; 
    top:    0px; 
    width:  1080px; 
    height: 720px; 
    background-color: red;
    border:none; */
}
/*
#full_screen_vid{
  position: absolute;
  width: 3840px;
  height: 2160px;
  opacity: 1;
}
*/

#preview_div {z-index:100;}
#details_img { position: absolute; left: 0; top: 1050px; width: 4096px; z-index:100; }

#footer { position: absolute; left: 0; top: 1921px; }
#footer_img { width: 3837px; }